<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Open Graph for Com.On -->
  <meta property="og:title" content="Com.On - 당신만을 위한 AI 쇼핑 추천" />
  <meta property="og:description" content="당신의 조건에 딱 맞는 제품을 3초 만에 추천받아보세요. 단순한 검색을 넘어서, com.on은 생각을 읽습니다." />
  <meta property="og:image" content="https://velog.velcdn.com/images/gogogi313/post/9deaea85-bf79-4629-86d1-9e1465f0b334/image.jpg" />
  <meta property="og:url" content="https://com-on.onrender.com" />
  <meta property="og:type" content="website" />

<!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Com.On - 당신만을 위한 AI 쇼핑 추천" />
  <meta name="twitter:description" content="내가 찾던 조건, 딱 맞게 추천받고 싶다면? Com.On으로 시작하세요." />
  <meta name="twitter:image" content="https://velog.velcdn.com/images/gogogi313/post/9deaea85-bf79-4629-86d1-9e1465f0b334/image.jpg" />
  
  <title>com.on - 검색</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
<div class="wrapper">
  <div class="container">
    <div class="logo-title">
	  <a href="/">
        <img
          src="https://velog.velcdn.com/images/gogogi313/post/21e72a8f-67e3-43c4-9395-8c8e6e5faa18/image.png"
          alt="팀 로고1"
          class="logo-img"
        />
	  </a>
      <h1 class="logo-text">com.on</h1>
    </div>

    <div class="examples">
      <div class="example-list" id="example-list"></div>
    </div>

    <form class="search-box" onsubmit="goToResult(); return false;">
      <input
        type="text"
        id="userQuery"
        placeholder="검색어를 입력하세요..."
      />
      <button type="submit">검색</button>
    </form>
  </div>
  <footer style="margin-top: 60px; padding: 20px 0; text-align: center; font-size: 0.9rem; color: #888;">
    ⓒ 최지웅 | 2025 가천대학교 창업대학 코코네스쿨 팀 GRIT
  </footer>
  </div>

  

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-MZHQSKG5"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe>
  </noscript>
</body>
</html>
